{
  "insertPragma": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 120,
  "jsxSingleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "embeddedLanguageFormatting": "auto",
  "quoteProps": "as-needed"
}
