<h1 class="mat-padding">Encuentra tu fabricante favorito:</h1>

<div class="mat-padding" *ngIf="loadingMakes$ | async">
  <p>Cargando marcas...</p>
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!(loadingMakes$ | async)">
  <div *ngIf="error$ | async as error" class="error">
    <p>{{ error }}</p>
  </div>

  <app-search (searchChanged)="onSearchChanged($event)"></app-search>

  <cdk-virtual-scroll-viewport itemSize="150" class="virtual-scroll-container">
    <div class="grid-container">
      <div *cdkVirtualFor="let row of rows$ | async" class="grid-row">
        <div *ngFor="let make of row; trackBy: trackByMakeId" class="grid-item">
          <mat-card>
            <mat-card-header>
              <mat-icon>directions_car</mat-icon>
              <mat-card-title>{{ make.Make_Name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <button mat-raised-button color="primary" (click)="viewDetails(make.Make_Name)">Ver detalles</button>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
